################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankModelApp/v15
/BankApplicationDataFlow/bin/Debug
/BankApplicationDataFlow/obj/Debug
/packages/Microsoft.Tpl.Dataflow.4.5.24
